@use "../util" as u;

.quantity_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey-100);
    gap: 3rem;
    border-radius: 10px;
    padding: 1rem .5rem;
    width: 100%;

    &--minus, &--plus {
        cursor: pointer;
        padding: 0;
        margin: 0;
        padding-inline: 1rem;
        &:hover {
            filter: brightness(0.8);
        }
    }
    &--number{
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--grey-950);
    }

    @include u.breakpoint(large){
        
        
    }
}

.chart_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-500);
    color: var(--grey-950);
    gap: 1rem;
    border-radius: 10px;
    padding: 1.1rem;
    font-size: 1rem;

    width: 100%;
    
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--orange-300);
    }
}
.chart_button img{
    filter: brightness(1%) contrast(100%);
}

.gallery img{
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.gallery{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: auto;

    &--main_image{
        display: flex;
        align-items: center;
        img {
            width: 100%;
            height: auto;
            display: block;
            // background-image: var(--image-url);
        }

        &--main{
           background-image: var(--image-url);
        }

        @include u.breakpoint(large){
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
            img{
                height: 80%;
            }
        }
    }
    &--thumbnails{
        display: none;

        @include u.breakpoint(medium){
            
        }

        @include u.breakpoint(large){
            display: flex;
            gap: 1rem;
            width: 100%;
            height: 80%;
        }
    }

    &--thumbnail {
        flex: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.cart{
    position: absolute;
        top: 6rem;
        left: 50%;
    transform: translateX(-50%);
    
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    padding: 1rem;
    
    min-width: 320px;                   //  vary betweeb screen sizes  //
    width: 80%;
    max-width: 400px;
    height: 256px;
    border: 1px solid var(--grey-100);

    @include u.breakpoint(large){
        top: 4rem;
        left: 75%;
    }

    &--line{
        margin-block: 1rem;
        border: 1px solid var(--grey-100);
    }

    &--content{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        
        p{
            color: var(--grey-500);
            text-align: center;
        }

        &--empty{
            display: none;
        }

        &--item{
            display: flex;
            align-items: center;
            gap: 1rem;

            img{
                width: 50px;
                height: 50px;
                border-radius: 5px;
            }

            &_image{
                flex: 1;
            }

            &_delete{
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

.gallery_navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding: 1rem;

    &--previous, &--next{
        cursor: pointer;
        padding: 0;
        margin: 0;
        padding-inline: .5rem;
        border-radius: 50%;
        background-color: var(--white);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            filter: brightness(0.8);
        }

        img{
            width: 12px;
            height: 12px;
        }
    }
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include u.breakpoint(large){
        border-bottom: 1px solid var(--grey-100);
        height: 80px;
        align-items: flex-start;
    }

    &--logo{
        display: flex;
        align-items: center;
        gap: 1rem;

        &_menu{
            width: 20px;
            height: auto;
            cursor: pointer;

            @include u.breakpoint(large){
                display: none;
            }
        }
    }

    &--links{
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        height: 100%;
        min-width: 60%;
        z-index: 10;

        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 2rem;  
        }
        
        img{
            display: block;
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }

        @include u.breakpoint(medium){
            height: 100%;
        }

        @include u.breakpoint(large){
            position: static;
            display: flex !important;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: transparent;
            
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 100%;
                gap: 2rem;
            }
            li{
                display: block;
                height: 100%;
            }
            li:hover{
                border-bottom: 2px solid var(--orange-500);
                color: var(--orange-500);
            }

            img{
                display: none;
            }
        }
    }
   
    &--icons{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &--avatar{
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

.buttons_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;

    @include u.breakpoint(medium){
        flex-direction: row;
    }

    @include u.breakpoint(large){
        flex-direction: row;
    }
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;

    p{
        color: var(--grey-500);
        margin-bottom: 1rem;
    }

    h1{
        color: var(--grey-950);
        font-weight: 700;
        font-size: 2rem;
    }

    @include u.breakpoint(large){
        align-items: flex-start;
        
    }

    &--pricing{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        @include u.breakpoint(medium){
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        @include u.breakpoint(large){
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__new{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            &--new_price{
                font-size: 2rem;
                font-weight: bold;
                color: var(--black);
            }

            &--discount{
                background-color: var(--black);
                color: var(--white);
                font-weight: bold;
                padding: 0.2rem 0.5rem;
                border-radius: 5px;
            }
        }
    }
}