@use "../util" as u;

.quantity_box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-100);
    gap: 3rem;
    border-radius: 10px;
    padding: 1rem .5rem;

    &--minus, &--plus {
        cursor: pointer;
        padding: 0;
        margin: 0;
        padding-inline: .5rem;
        &:hover {
            filter: brightness(0.8);
        }
    }
    &--number{
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--grey-950);
    }
}

.chart_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-500);
    color: var(--grey-950);
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem 4rem;
    font-size: 1rem;
    
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--orange-300);
    }
}
.chart_button img{
    filter: brightness(1%) contrast(100%);
}

.gallery img{
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.gallery{
    display: flex;
    flex-direction: column;
    gap: u.$spacing-400;
    max-width: 600px;           // decides about iamges sizes!
    margin-inline: auto;

    &--main_image{
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &--thumbnails{
        display: flex;
        gap: 1rem;
        width: 100%;
    }

    &--thumbnail {
        flex: 1;
        aspect-ratio: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}