@use "../util" as u;

.quantity_box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-100);
    gap: 3rem;
    border-radius: 10px;
    padding: 1rem .5rem;

    &--minus, &--plus {
        cursor: pointer;
        padding: 0;
        margin: 0;
        padding-inline: .5rem;
        &:hover {
            filter: brightness(0.8);
        }
    }
    &--number{
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--grey-950);
    }
}

.chart_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-500);
    color: var(--grey-950);
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem 4rem;
    font-size: 1rem;
    
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--orange-300);
    }
}
.chart_button img{
    filter: brightness(1%) contrast(100%);
}

.gallery img{
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.gallery{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: u.$spacing-400;
    max-width: 600px;           // decides about container size!
    margin-inline: auto;

    &--main_image{
        display: flex;
        align-items: center;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &--thumbnails{
        display: flex;
        gap: 1rem;
        width: 100%;
    }

    &--thumbnail {
        flex: 1;
        aspect-ratio: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.cart{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    padding: 1rem;
    width: 360px;                   //  vary betweeb screen sizes  //
    height: 256px;
    margin-top: u.$spacing-400;
    border: 1px solid var(--grey-100);

    &--line{
        margin-block: 1rem;
        border: 1px solid var(--grey-100);
    }

    &--content{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        
        p{
            color: var(--grey-500);
            text-align: center;
        }

        &--item{
            display: flex;
            align-items: center;
            gap: 1rem;

            img{
                width: 50px;
                height: 50px;
                border-radius: 5px;
            }

            &_image{
                flex: 1;
            }

            &_delete{
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

.gallery_navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding: 1rem;

    &--previous, &--next{
        cursor: pointer;
        padding: 0;
        margin: 0;
        padding-inline: .5rem;
        border-radius: 50%;
        background-color: var(--white);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            filter: brightness(0.8);
        }

        img{
            width: 12px;
            height: 12px;
        }
    }
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &--logo{
        display: flex;
        align-items: center;
        gap: 1rem;

        &_menu{
            width: 20px;
            height: auto;
            cursor: pointer;

            @include u.breakpoint(large){
                display: none;
            }
        }
    }
   
    &--links[data-mobile="active"] {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        height: 100%;
        min-width: 30%;
        z-index: 10;

        background-color: var(--grey-100);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    &--links[data-mobile="inactive"] {
        display: none;

        @include u.breakpoint(medium){display: none;}
        @include u.breakpoint(large){
            display: flex;
            gap: 2rem;
            list-style: none;
        }
    }

    &--icons{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &--avatar{
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}