@use "../util" as u;
@use '../globals' as g;


/*  Mobile first  */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: u.$spacing-200;
}
