@use "../util" as u;
@use '../globals' as g;


/*  Mobile first  */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: u.$spacing-200;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    min-width: 320px;

    @include u.breakpoint(medium){
        max-width: 820px;
    }

    @include u.breakpoint(large){
        max-width: 1110px;
    }
}

.overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(240, 53%, 23%, 0.9);
    opacity: 0.5;
    pointer-events: none;
    visibility: visible;
    z-index: 5;
}

.main_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: u.$spacing-400;

    @include u.breakpoint(medium){
        flex-direction: column;
    }

    @include u.breakpoint(large){
        max-width: 1110px;
        flex-direction: row;
    }
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: u.$spacing-200;
    max-width: 445px;
    order: 1;
}
