@use "../util" as u;
@use '../globals' as g;


/*  Mobile first  */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: u.$spacing-200;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    min-width: 320px;

    @include u.breakpoint(medium){
        max-width: 820px;
    }

    @include u.breakpoint(large){
        max-width: 1110px;

    }
}

.overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.8);
    pointer-events: none;
    visibility: visible;
    z-index: 5;

    @include u.breakpoint(large){
        display: none;
        visibility: hidden;
    }
}

.main_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: u.$spacing-400;
    margin-top: 2rem;

    @include u.breakpoint(medium){
        flex-direction: column;
    }

    @include u.breakpoint(large){
        max-width: 1110px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: u.$spacing-1200;
        flex: 1;
    }
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: u.$spacing-200;
    order: 1;
}
