$font-size-1: 9rem;         // 144px
$font-size-2: 4rem;         // 64px
$font-size-3: 2.25rem;      // 36px
$font-size-4: 1.75rem;      // 28px
$font-size-5: 1.5rem;       // 24px
$font-size-6: 1.25rem;      // 20px
$font-size-7: 1rem;         // 16px
$font-size-8: .938rem;      // 15px
$font-size-9: .813rem;      // 13px
$font-size-10: .75rem;      // 12px

$line-height-1: 48px;
$line-height-2: 32px;       
$line-height-3: 26px;
$line-height-4: 16px;     
$line-height-5: 15px;  

$letter-spacing: 0;

h1{
    margin: 0;
    font-weight: 200;
}

h2,h3{
    margin: 0;
}

p{
    margin: 0;
}

a, 
a:visited, 
a:active{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}
